/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 oct. 2017, 20:34:12
    Author     : gwennael
*/

.loading {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.loading-text {
    margin: 50% auto;
    color: #fff;
    font-size: 2em;
}